<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/math-contest-club/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/math-contest-club/">MC^2 Home</a></li>
<li><a href="/math-contest-club/about">About MC^2</a></li>
<li><a href="/math-contest-club/blog">Previous Lessons</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:lcimath@gmail.com">email</a></li>
   <li><a href="https://github.com/charlesyz">github.com/charlesyz</a></li>
   <li><a href="https://charleszhang.ca">charleszhang.ca</a></li>
   </ul>
  </footer>
  </body>

</html>
